.about {
    display:flex;
    
    &__list {
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }

    &__title {
        text-align: center;
        color: var(--text-color);
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-h2);
        line-height: var(--line-height-h2);

        @include sm-max {
            br {
                display: none;
            }
        }
    }

    &__text {
        padding-top: 15px;
        text-align: center;
        color: var(--gray-text-color);
        font-size: var(--font-size-paragraph);
        font-weight: var(--font-weigh-paragraph);
        line-height: var(--line-heigh-paragraph);

        @include sm-max {
            br {
                display: none;
            }
        }
    }
    
    &__group {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 120px;
        @include xl-max {
            gap: 30px;
        }
        @include md-max {
            gap: 10px;
        }
        @include sm-max {
            flex-direction: column;
        }
    }

    &__group-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }

    &__group-cell {
        padding: 0px 20px;

        @include md-max {
            padding: 0px 5px;
        }
    }

    &__group-title {
        padding-top: 20px;
        text-align: left;
        color: var(--text-color);
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-h2);
        line-height: var(--line-height-h2);
    }

    &__group-text {
        padding-top: 10px;
        text-align: left;
        color: var(--gray-text-color);
        font-size: var(--font-size-paragraph);
        font-weight: var(--font-weigh-paragraph);
        line-height: var(--line-heigh-paragraph);
    }

    &__office-image {
        width: 100%;
    }

    &__card-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    &__card-item {
        padding: 0px 20px;

        @include md-max {
            padding: 0px 5px;
        }
    }

    &__card-title {
        text-align: left;
        color: var(--text-color);
        font-size: var(--font-size-h5);
        font-weight: var(--font-weight-h5);
        line-height: var(--line-height-h5);

        @include md-max {
            br {
                display: none;
            }
        }
    }

    &__card-text {
        padding-top: 5px;
        text-align: left;
        color: var(--gray-text-color);
        font-size: var(--font-size-h6);
        font-weight: var(--font-weight-h6);
        line-height: var(--line-height-h6);

        @include md-max {
            br {
                display: none;
            }
        }
    }

    &__brand-list {
        display: flex;
        padding: 50px 0px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;

        @include xl-max {
            gap: 30px;
        }

        @include md-max {
            gap: 5px;
        }

        @include sm-max {
            flex-direction: column;
            gap: 60px;
        }
    }

    &__brand-icon {
        width: 100%;
        @include md-max {
            width: 40%;
        }
        @include sm-max {
            width: 100%;
        }
    }

    &__subscribe {
        display: flex;
        padding-bottom: 20px;
        justify-content: center;

        background-image: url("../assets/images/photos/about-background.svg");
        background-position: 0px bottom;
        background-repeat: repeat-x;

        @include sm-max {
            background-image: none;
        }
    }

    &__subscribe-list {
        display: flex;
        padding: 30px 50px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 180px;

        background-color: var(--footer-color);

        @include xl-max {
            padding: 30px 20px;
            gap: 30px;
        }

        @include md-max {
            padding: 30px 5px;
            gap: 10px;
        }

        @include sm-max {
            flex-direction: column;
            padding: 0px 30px 20px;
            gap: 0px;
        }
    }


    &__subscribe-label {
        text-align: left;
        color: var(--light-text-color);
        font-size: var(--font-size-h3);
        font-weight: var(--font-weight-h3);
        line-height: var(--line-height-h3);

        @include xl-max {
            padding: 10px 10px;
            font-size: var(--font-size-h4);
            font-weight: var(--font-weight-h4);
            line-height: var(--line-height-h4);
        }
    }

    &__subscribe-form {
        background-color: var(--light-bg-color);
    }

    &__subscribe-button {
        padding: 10px 22px;
      
        font-size: var(--font-size-btn);
        font-weight: var(--font-weight-btn);
        line-height: var(--line-height-btn);
      
        background-color: var(--primary-color);
        color: var(--light-text-color);
        border: 1px solid var(--search-border-color);
        cursor: pointer;

        @include xl-max {
            padding: 10px 10px;
        }

        @include md-max {
            padding: 10px 5px;
        }
        
        &:hover {
          background-color: var(--header-bg-color);
        }
    }
      
    &__subscribe-input {
        padding: 10px 36px;
      
        font-size: var(--font-size-btn);
        font-weight: var(--font-weight-btn);
        line-height: var(--line-height-btn);
      
        background-color: var(--light-bg-color);
        color: var(--gray-text-color);
        border: 1px solid var(--search-border-color);
        cursor: text;

        @include xl-max {
            padding: 10px 10px;
        }

        @include md-max {
            padding: 10px 5px;
        }
    }
      
    &__bottom-bar {
        position: absolute;
        width: 100%;
        height: 78px;
        left: 0;
    }
}