.clients {
    &__container {
        background-color: var(--clients-bg-color);
    }

    &__list {
        display: flex;
        padding: 80px 0px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 80px;

        @include lg-max {
            gap: 20px;
        }
    }

    &__title {
        color: var(--text-color);
        font-size: var(--font-size-h2);
        font-weight: var(--font-weight-h2);
        line-height: var(--line-height-h2);

        @include sm-max {
            padding: 0px 24px;
        }
    }

    &__text {
        padding-top: 10px;
        text-align: center;
        color: var(--text-color);
        font-size: var(--font-size-paragraph);
        font-weight: var(--font-weigh-paragraph);
        line-height: var(--line-heigh-paragraph);

        @include sm-max {
            br {
                display: none;
            }
        }
    }

    &__cards {
        display: flex;
        flex-direction: row;
        justify-content: center;

        @include md-max {
            flex-direction: column;
        }

        @include sm-max {
            gap: 30px;
        }
    }

    &__card {
        padding: 80px 40px;
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: var(--white-bg-color);

        @include lg-max {
            padding: 80px 10px;
        }

        @include md-max {
            padding: 40px 5px;
        }

        @include sm-max {
            padding: 30px 5px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        &--dark {
            padding: 50px 40px;
            margin-top: 0px;
            margin-bottom: 0px;
            background-color: var(--dark-background-color);

            @include lg-max {
                padding: 50px 10px;
            }
    
            @include md-max {
                padding: 50px 5px;
            }
    
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 15px;

            @include lg-max {
                gap: 5px;
            }
        }

        &-contacts {
            color: var(--text-color);
            font-size: var(--font-size-h6);
            font-weight: var(--font-weight-h6);
            line-height: var(--line-height-h6);

            &--dark {
                color: var(--light-text-color);
            }
        }

        &-title {
            color: var(--text-color);
            font-size: var(--font-size-h5);
            font-weight: var(--font-weight-h5);
            line-height: var(--line-height-h5);

            &--dark {
                color: var(--light-text-color);
            }
        }

        &-button {
            padding: 10px 20px;
          
            font-size: var(--font-size-btn);
            font-weight: var(--font-weight-btn);
            line-height: var(--line-height-btn);

            border-radius: 5px;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            cursor: pointer;
    
            @include xl-max {
                padding: 10px 10px;
            }
    
            @include md-max {
                padding: 10px 5px;
            }
            
            &:hover {
                color: var(--light-text-color);
                background-color: var(--primary-color);
            }
            
            &--dark {
                background-color: var(--dark-background-color);
                border: 1px solid var(--light-text-color);
                color: var(--light-text-color);
    
                &:hover {
                    color: var(--dark-background-color);
                    background-color: var(--light-text-color);
                }
            }
        }
    }

}