.title-lg {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-title-lg);
  font-weight: 900;
  line-height: 1.1;
}

.title-md {
  font-size: var(--font-title-md);
  font-weight: 700;
  line-height: 1.5;
}

.title-sm {
  font-size: var(--font-title-sm);
  font-weight: 700;
  line-height: 1.5;
}

.title-xs {
  font-size: var(--font-title-xs);
  font-weight: 700;
  line-height: 1.2;
}
