:root {
    --primary-color: #FFA62B;
  
    --text-color: #252B42;
    --light-text-color: #FFF;
    --gray-text-color: #737373;
  
    --header-bg-color: rgb(251, 226, 135);
    --button-color: #00A0C1;
    --footer-color: #16697A;
    --white-bg-color: white;
    --light-bg-color: #F9F9F9;
    --dark-background-color: #252B42;

    --advise-bg-color: #FAFAFA;
    --mobile-menu-bg-color: #F6F6F6;
    --clients-bg-color: #F3F3F3;
    
    
    --search-border-color: #E6E6E6;
  
    --font-size-h1: 58px;
    --font-weight-h1: 800;
    --line-height-h1: 80px;
  
    --font-size-h2: 40px;
    --font-weight-h2: 700;
    --line-height-h2: 57px;
  
    --font-size-h3: 24px;
    --font-weight-h3: 700;
    --line-height-h3: 32px;

    --font-size-h4: 20px;
    --font-weight-h4: 500;
    --line-height-h4: 30px;

    --font-size-h5: 16px;
    --font-weight-h5: 700;
    --line-height-h5: 24px;
  
    --font-size-h6: 14px;
    --font-weight-h6: 600;
    --line-height-h6: 24px;
  
    --font-size-paragraph: 14px;
    --font-weight-paragraph: 500;
    --line-height-paragraph: 20px;
      
    --font-size-btn: 14px;
    --font-weight-btn: 700;
    --line-height-btn: 28px;
  
    --font-size-link: 14px;
    --font-weight-link: 600;
    --line-height-link: 24px;

    --font-size-mob: 30px;
    --font-weight-mob: 400;
    --line-height-mob: 45px;

    --font-title-lg: 120px;
    --font-title-md: 60px;
    --font-title-sm: 52px;
    --font-title-xs: 42px;
  }
  